/*!
* jQuery Mobile 1.4.5
* Git HEAD hash: 68e55e78b292634d3991c795f06f5e37a512decc <> Date: Fri Oct 31 2014 17:33:30 UTC
* http://jquerymobile.com
*
* Copyright 2010, 2014 jQuery Foundation, Inc. and othercontributors
* Released under the MIT license.
* http://jquery.org/license
*
*/


/* Globals */
/* Font
-----------------------------------------------------------------------------------------------------------*/
html {
	font-size: 100%;
}
body,
input,
select,
textarea,
button,
.ui-btn {
	font-size: 1em;
	line-height: 1.3;
	font-family: Verdana, Geneva, sans-serif /*{global-font-family}*/;
}
legend,
.ui-input-text input,
.ui-input-search input {
	color: inherit;
	text-shadow: none;
}
/* Form labels (overrides font-weight bold in bars, and mini font-size) */
.ui-mobile label,
div.ui-controlgroup-label {
	font-weight: normal;
	font-size: 16px;
}
/* Separators
-----------------------------------------------------------------------------------------------------------*/
/* Field contain separator (< 28em) */
.ui-field-contain {
	border-bottom-color: #828282;
	border-bottom-color: rgba(0,0,0,.15);
	border-bottom-width: 1px;
	border-bottom-style: none;
}
/* Table opt-in classes: strokes between each row, and alternating row stripes */
/* Classes table-stroke and table-stripe are deprecated in 1.4. */
.table-stroke thead th,
.table-stripe thead th,
.table-stripe tbody tr:last-child {
	border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.table-stroke tbody th,
.table-stroke tbody td {
	border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
	border-bottom: 1px solid rgba(0,0,0,.05);
}
.table-stripe.table-stroke tbody tr:last-child th,
.table-stripe.table-stroke tbody tr:last-child td {
	border-bottom: 0;
}
.table-stripe tbody tr:nth-child(odd) td,
.table-stripe tbody tr:nth-child(odd) th {
	background-color: #eeeeee; /* non-RGBA fallback  */
	background-color: rgba(0,0,0,.04);
}
/* Buttons
-----------------------------------------------------------------------------------------------------------*/
.ui-btn,
label.ui-btn {
	font-weight: bold;
	border-width: 0px;
	border-style: solid;
}
.ui-btn {
	text-decoration: none !important;
}
.ui-btn-active {
	cursor: pointer;
}
/* Corner rounding
-----------------------------------------------------------------------------------------------------------*/
/* Class ui-btn-corner-all deprecated in 1.4 */
.ui-corner-all {
	-webkit-border-radius: 0em /*{global-radii-blocks}*/;
	border-radius: 0em /*{global-radii-blocks}*/;
}
/* Buttons */
.ui-btn-corner-all,
.ui-btn.ui-corner-all,
/* Slider track */
.ui-slider-track.ui-corner-all,
/* Flipswitch */
.ui-flipswitch.ui-corner-all,
/* Count bubble */
.ui-li-count {
	-webkit-border-radius: 0em /*{global-radii-buttons}*/;
	border-radius: 0em /*{global-radii-buttons}*/;
}
/* Icon-only buttons */
.ui-btn-icon-notext.ui-btn-corner-all,
.ui-btn-icon-notext.ui-corner-all {
	-webkit-border-radius: 0em;
	border-radius: 0em;
}
/* Radius clip workaround for cleaning up corner trapping */
.ui-btn-corner-all,
.ui-corner-all {
	-webkit-background-clip: padding;
	background-clip: padding-box;
}
/* Popup arrow */
.ui-popup.ui-corner-all > .ui-popup-arrow-guide {
	left: 0.3em /*{global-radii-blocks}*/;
	right: 0.3em /*{global-radii-blocks}*/;
	top: 0.3em /*{global-radii-blocks}*/;
	bottom: 0.3em /*{global-radii-blocks}*/;
}
/* Shadow
-----------------------------------------------------------------------------------------------------------*/
.ui-shadow {
	-webkit-box-shadow: 0 0px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
	-moz-box-shadow: 0 0px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
	box-shadow: 0 0px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
}
.ui-shadow-inset {
	-webkit-box-shadow: inset 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
	-moz-box-shadow: inset 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
	box-shadow: inset 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
}
.ui-overlay-shadow {
	-webkit-box-shadow: 0 0 12px 		rgba(0,0,0,.6);
	-moz-box-shadow: 0 0 12px 			rgba(0,0,0,.6);
	box-shadow: 0 0 12px 				rgba(0,0,0,.6);
}
/* Icons
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
	background-color: #666666 /*{global-icon-color}*/;
	background-color: rgba(0,0,0,.15) /*{global-icon-disc}*/;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}
/* Alt icons */
.ui-alt-icon.ui-btn:after,
.ui-alt-icon .ui-btn:after,
html .ui-alt-icon.ui-checkbox-off:after,
html .ui-alt-icon.ui-radio-off:after,
html .ui-alt-icon .ui-checkbox-off:after,
html .ui-alt-icon .ui-radio-off:after {
	background-color: #666666 /*{global-icon-color}*/;
	background-color: rgba(0,0,0,.15) /*{global-icon-disc}*/;
}
/* No disc */
.ui-nodisc-icon.ui-btn:after,
.ui-nodisc-icon .ui-btn:after {
	background-color: transparent;
}
/* Icon shadow */
.ui-shadow-icon.ui-btn:after,
.ui-shadow-icon .ui-btn:after {
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.3) /*{global-icon-shadow}*/;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.3) /*{global-icon-shadow}*/;
	box-shadow: 0 1px 0 rgba(255,255,255,.3) /*{global-icon-shadow}*/;
}
/* Checkbox and radio */
.ui-btn.ui-checkbox-off:after,
.ui-btn.ui-checkbox-on:after,
.ui-btn.ui-radio-off:after,
.ui-btn.ui-radio-on:after {
	display: block;
	width: 18px;
	height: 18px;
	margin: -9px 2px 0 2px;
}
.ui-checkbox-off:after,
.ui-btn.ui-radio-off:after {
	filter: Alpha(Opacity=30);
	opacity: .3;
}
.ui-btn.ui-checkbox-off:after,
.ui-btn.ui-checkbox-on:after {
	-webkit-border-radius: .1875em;
	border-radius: .1875em;
}
.ui-btn.ui-checkbox-off:after {
	background-color: #666;
	background-color: rgba(0,0,0,.3);
}
.ui-radio .ui-btn.ui-radio-on:after {
	background-image: none;
	background-color: #fff;
	width: 8px;
	height: 8px;
	border-width: 5px;
	border-style: solid;
}
.ui-alt-icon.ui-btn.ui-radio-on:after,
.ui-alt-icon .ui-btn.ui-radio-on:after {
	background-color: #000;
}

/* Swatches */
/* A
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
	background: rgba(71,115,166,1);
background: -moz-linear-gradient(left, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(71,115,166,1)), color-stop(100%, rgba(133,160,196,1)));
background: -webkit-linear-gradient(left, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
background: -o-linear-gradient(left, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
background: -ms-linear-gradient(left, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
background: linear-gradient(to right, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4773a6', endColorstr='#85a0c4', GradientType=1 );
}
.ui-bar-a {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
background: rgba(71,115,166,1);
background: -moz-linear-gradient(left, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(71,115,166,1)), color-stop(100%, rgba(133,160,196,1)));
background: -webkit-linear-gradient(left, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
background: -o-linear-gradient(left, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
background: -ms-linear-gradient(left, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
background: linear-gradient(to right, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4773a6', endColorstr='#85a0c4', GradientType=1 );	border-color: #bbbbbb /*{a-page-border}*/;
	color: #333333 /*{a-page-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a {
	background: rgba(71,115,166,1);
background: -moz-linear-gradient(left, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(71,115,166,1)), color-stop(100%, rgba(133,160,196,1)));
background: -webkit-linear-gradient(left, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
background: -o-linear-gradient(left, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
background: -ms-linear-gradient(left, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
background: linear-gradient(to right, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4773a6', endColorstr='#85a0c4', GradientType=1 );
	border-color: #dddddd /*{a-body-border}*/;
	color: #333333 /*{a-body-color}*/;
}

/* Links */
.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
	color: #3388cc /*{a-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-a a:visited,
html .ui-bar-a a:visited,
html .ui-body-a a:visited,
html body .ui-group-theme-a a:visited {
    color: #3388cc /*{a-link-visited}*/;
}
.ui-page-theme-a a:hover,
html .ui-bar-a a:hover,
html .ui-body-a a:hover,
html body .ui-group-theme-a a:hover {
	color: #005599 /*{a-link-hover}*/;
}
.ui-page-theme-a a:active,
html .ui-bar-a a:active,
html .ui-body-a a:active,
html body .ui-group-theme-a a:active {
	color: #005599 /*{a-link-active}*/;
}
/* Button up */
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
/* Button visited */
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited {
	background-color: #f6f6f6 /*{a-bup-background-color}*/;
	border: none /*{a-bup-border}*/;
	color: #333333 /*{a-bup-color}*/;
}
/* Button hover */
.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head + body .ui-btn.ui-btn-a:hover {
	background-color: #ededed /*{a-bhover-background-color}*/;
	border-color: #dddddd /*{a-bhover-border}*/;
	color: #333333 /*{a-bhover-color}*/;
}
/* Button down */
.ui-page-theme-a .ui-btn:active,
html .ui-bar-a .ui-btn:active,
html .ui-body-a .ui-btn:active,
html body .ui-group-theme-a .ui-btn:active,
html head + body .ui-btn.ui-btn-a:active {
	background-color: #e8e8e8 /*{a-bdown-background-color}*/;
	border-color: #dddddd /*{a-bdown-border}*/;
	color: #333333 /*{a-bdown-color}*/;
}
/* Active button */
.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-a .ui-checkbox-on:after,
html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after,
/* Active flipswitch background */
.ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active {
	background-color: #3388cc /*{a-active-background-color}*/;
	border-color: #1c4a70 /*{a-active-border}*/;
	color: #ffffff /*{a-active-color}*/;
}
/* Active radio button icon */
.ui-page-theme-a .ui-radio-on:after,
html .ui-bar-a .ui-radio-on:after,
html .ui-body-a .ui-radio-on:after,
html body .ui-group-theme-a .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-a:after {
	border-color: #3388cc /*{a-active-background-color}*/;
}
/* Focus */
.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head + body .ui-btn.ui-btn-a:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head + body .ui-btn-a.ui-focus,
html head + body .ui-body-a.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{a-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{a-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{a-active-background-color}*/;
}
/* B
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-b,
.ui-page-theme-b .ui-bar-inherit,
html .ui-bar-b .ui-bar-inherit,
html .ui-body-b .ui-bar-inherit,
html body .ui-group-theme-b .ui-bar-inherit {
	background-color: #2C5486 /*{b-bar-background-color}*/;
	border-color: #dddddd /*{b-bar-border}*/;
	color: #333333 /*{b-bar-color}*/;
	font-weight: bold;
}
.ui-bar-b {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-b,
.ui-page-theme-b,
.ui-page-theme-b .ui-panel-wrapper {
	background: rgba(71,115,166,1);
	background: -moz-linear-gradient(left, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(71,115,166,1)), color-stop(100%, rgba(133,160,196,1)));
	background: -webkit-linear-gradient(left, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
	background: -o-linear-gradient(left, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
	background: -ms-linear-gradient(left, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
	background: linear-gradient(to left, rgba(71,115,166,1) 0%, rgba(133,160,196,1) 100%);
	border-color: #bbbbbb; /*{b-page-border}*/
	border-width: 0px;
	color: #333333 /*{b-page-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-b,
.ui-page-theme-b .ui-body-inherit,
html .ui-bar-b .ui-body-inherit,
html .ui-body-b .ui-body-inherit,
html body .ui-group-theme-b .ui-body-inherit,
html .ui-panel-page-container-b {
	background-color: #c4c4c4 /*{b-body-background-color}*/;
	border-color: #165e7c /*{b-body-border}*/;
	color: #333333 /*{b-body-color}*/;
}
/* Links */
.ui-page-theme-b a,
html .ui-bar-b a,
html .ui-body-b a,
html body .ui-group-theme-b a {
	color: #3388cc /*{b-link-color}*/;
	font-weight: normal;
}
.ui-page-theme-b a:visited,
html .ui-bar-b a:visited,
html .ui-body-b a:visited,
html body .ui-group-theme-b a:visited {
    color: #3388cc /*{b-link-visited}*/;
}
.ui-page-theme-b a:hover,
html .ui-bar-b a:hover,
html .ui-body-b a:hover,
html body .ui-group-theme-b a:hover {
	color: #005599 /*{b-link-hover}*/;
}
.ui-page-theme-b a:active,
html .ui-bar-b a:active,
html .ui-body-b a:active,
html body .ui-group-theme-b a:active {
	color: #005599 /*{b-link-active}*/;
}
/* Button up */
.ui-page-theme-b .ui-btn,
html .ui-bar-b .ui-btn,
html .ui-body-b .ui-btn,
html body .ui-group-theme-b .ui-btn,
html head + body .ui-btn.ui-btn-b,
/* Button visited */
.ui-page-theme-b .ui-btn:visited,
html .ui-bar-b .ui-btn:visited,
html .ui-body-b .ui-btn:visited,
html body .ui-group-theme-b .ui-btn:visited,
html head + body .ui-btn.ui-btn-b:visited {
	background-color: rgba(255,255,255,0.8); /*{b-bup-background-color}*/;
    color: #5b5b5b;
    text-shadow: none;
}
/* Button hover */
.ui-page-theme-b .ui-btn:hover,
html .ui-bar-b .ui-btn:hover,
html .ui-body-b .ui-btn:hover,
html body .ui-group-theme-b .ui-btn:hover,
html head + body .ui-btn.ui-btn-b:hover {
	background-color: rgba(255,255,255,0.8);; /*{b-bhover-background-color}*/
	border-color: #5b5b5b; /*{b-bhover-border}*/
	border-width: 0px;
	color: #333333; /*{b-bhover-color}*/
	text-shadow: none;
}
/* Button down */
.ui-page-theme-b .ui-btn:active,
html .ui-bar-b .ui-btn:active,
html .ui-body-b .ui-btn:active,
html body .ui-group-theme-b .ui-btn:active,
html head + body .ui-btn.ui-btn-b:active {
	background-color: #e8e8e8; /*{b-bdown-background-color}*/
	border-color: #5b5b5b; /*{b-bdown-border}*/
	color: #333333; /*{b-bdown-color}*/
}
/* Active button */
.ui-page-theme-b .ui-btn.ui-btn-active,
html .ui-bar-b .ui-btn.ui-btn-active,
html .ui-body-b .ui-btn.ui-btn-active,
html body .ui-group-theme-b .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-b.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-b .ui-checkbox-on:after,
html .ui-bar-b .ui-checkbox-on:after,
html .ui-body-b .ui-checkbox-on:after,
html body .ui-group-theme-b .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-b:after,
/* Active flipswitch background */
.ui-page-theme-b .ui-flipswitch-active,
html .ui-bar-b .ui-flipswitch-active,
html .ui-body-b .ui-flipswitch-active,
html body .ui-group-theme-b .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-b.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-b .ui-slider-track .ui-btn-active,
html .ui-bar-b .ui-slider-track .ui-btn-active,
html .ui-body-b .ui-slider-track .ui-btn-active,
html body .ui-group-theme-b .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-b .ui-btn-active {
	background-color: #3388cc /*{b-active-background-color}*/;
	border-color: #1c4a70 /*{b-active-border}*/;
	color: #ffffff /*{b-active-color}*/;
}
/* Active radio button icon */
.ui-page-theme-b .ui-radio-on:after,
html .ui-bar-b .ui-radio-on:after,
html .ui-body-b .ui-radio-on:after,
html body .ui-group-theme-b .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-b:after {
	border-color: #3388cc /*{b-active-background-color}*/;
}
/* Focus */
.ui-page-theme-b .ui-btn:focus,
html .ui-bar-b .ui-btn:focus,
html .ui-body-b .ui-btn:focus,
html body .ui-group-theme-b .ui-btn:focus,
html head + body .ui-btn.ui-btn-b:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-b .ui-focus,
html .ui-bar-b .ui-focus,
html .ui-body-b .ui-focus,
html body .ui-group-theme-b .ui-focus,
html head + body .ui-btn-b.ui-focus,
html head + body .ui-body-b.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{b-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{b-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{b-active-background-color}*/;
}


/* C
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-c,
.ui-page-theme-c .ui-bar-inherit,
html .ui-bar-c .ui-bar-inherit,
html .ui-body-c .ui-bar-inherit,
html body .ui-group-theme-c .ui-bar-inherit {
	background-color: #e9e9e9 /*{c-bar-background-color}*/;
	border-color: #dddddd /*{c-bar-border}*/;
	color: #333333 /*{c-bar-color}*/;
	font-weight: bold;
}
.ui-bar-c {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-c,
.ui-page-theme-c,
.ui-page-theme-c .ui-panel-wrapper {
	background-color: #dee9ed /*{c-page-background-color}*/;
	border-color: #bbbbbb /*{c-page-border}*/;
	color: #333333 /*{c-page-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-c,
.ui-page-theme-c .ui-body-inherit,
html .ui-bar-c .ui-body-inherit,
html .ui-body-c .ui-body-inherit,
html body .ui-group-theme-c .ui-body-inherit,
html .ui-panel-page-container-c {

	border-color: #dddddd /*{c-body-border}*/;
	color: #333333 /*{c-body-color}*/;
}
.ui-body-c {
	border-width: 0px;
	border-style: solid;
}
/* Links */
.ui-page-theme-c a,
html .ui-bar-c a,
html .ui-body-c a,
html body .ui-group-theme-c a {
	color: #3388cc /*{c-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-c a:visited,
html .ui-bar-c a:visited,
html .ui-body-c a:visited,
html body .ui-group-theme-c a:visited {
    color: #3388cc /*{c-link-visited}*/;
}
.ui-page-theme-c a:hover,
html .ui-bar-c a:hover,
html .ui-body-c a:hover,
html body .ui-group-theme-c a:hover {
	color: #005599 /*{c-link-hover}*/;
}
.ui-page-theme-c a:active,
html .ui-bar-c a:active,
html .ui-body-c a:active,
html body .ui-group-theme-c a:active {
	color: #005599 /*{c-link-active}*/;
}
/* Button up */
.ui-page-theme-c .ui-btn,
html .ui-bar-c .ui-btn,
html .ui-body-c .ui-btn,
html body .ui-group-theme-c .ui-btn,
html head + body .ui-btn.ui-btn-c,
/* Button visited */
.ui-page-theme-c .ui-btn:visited,
html .ui-bar-c .ui-btn:visited,
html .ui-body-c .ui-btn:visited,
html body .ui-group-theme-c .ui-btn:visited,
html head + body .ui-btn.ui-btn-c:visited {
	background-color: rgba(255,255,255,0.8); /*{c-bup-background-color}*/;
	border-color: #dddddd /*{c-bup-border}*/;
	color: #2f3e46 /*{c-bup-color}*/;
}
/* Button hover */
.ui-page-theme-c .ui-btn:hover,
html .ui-bar-c .ui-btn:hover,
html .ui-body-c .ui-btn:hover,
html body .ui-group-theme-c .ui-btn:hover,
html head + body .ui-btn.ui-btn-c:hover {
	background-color: #eee /*{c-bhover-background-color}*/;
	border-color: #dddddd /*{c-bhover-border}*/;
	color: #333333 /*{c-bhover-color}*/;
}
/* Button down */
.ui-page-theme-c .ui-btn:active,
html .ui-bar-c .ui-btn:active,
html .ui-body-c .ui-btn:active,
html body .ui-group-theme-c .ui-btn:active,
html head + body .ui-btn.ui-btn-c:active {
	background-color: #ddd /*{c-bdown-background-color}*/;
	border-color: #dddddd /*{c-bdown-border}*/;
	color: #333333 /*{c-bdown-color}*/;
}
/* Active button */
.ui-page-theme-c .ui-btn.ui-btn-active,
html .ui-bar-c .ui-btn.ui-btn-active,
html .ui-body-c .ui-btn.ui-btn-active,
html body .ui-group-theme-c .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-c.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-c .ui-checkbox-on:after,
html .ui-bar-c .ui-checkbox-on:after,
html .ui-body-c .ui-checkbox-on:after,
html body .ui-group-theme-c .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-c:after,
/* Active flipswitch background */
.ui-page-theme-c .ui-flipswitch-active,
html .ui-bar-c .ui-flipswitch-active,
html .ui-body-c .ui-flipswitch-active,
html body .ui-group-theme-c .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-c.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-c .ui-slider-track .ui-btn-active,
html .ui-bar-c .ui-slider-track .ui-btn-active,
html .ui-body-c .ui-slider-track .ui-btn-active,
html body .ui-group-theme-c .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-c .ui-btn-active {
	background-color: #3388cc /*{c-active-background-color}*/;
	border-color: #1c4a70 /*{c-active-border}*/;
	color: #ffffff /*{c-active-color}*/;
}
/* Active radio button icon */
.ui-page-theme-c .ui-radio-on:after,
html .ui-bar-c .ui-radio-on:after,
html .ui-body-c .ui-radio-on:after,
html body .ui-group-theme-c .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-c:after {
	border-color: #3388cc /*{c-active-background-color}*/;
}
/* Focus */
.ui-page-theme-c .ui-btn:focus,
html .ui-bar-c .ui-btn:focus,
html .ui-body-c .ui-btn:focus,
html body .ui-group-theme-c .ui-btn:focus,
html head + body .ui-btn.ui-btn-c:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-c .ui-focus,
html .ui-bar-c .ui-focus,
html .ui-body-c .ui-focus,
html body .ui-group-theme-c .ui-focus,
html head + body .ui-btn-c.ui-focus,
html head + body .ui-body-c.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{c-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{c-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{c-active-background-color}*/;
}


/* D
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-d,
.ui-page-theme-d .ui-bar-inherit,
html .ui-bar-d .ui-bar-inherit,
html .ui-body-d .ui-bar-inherit,
html body .ui-group-theme-d .ui-bar-inherit {
	background-color: #e9e9e9 /*{d-bar-background-color}*/;
	border-color: #dddddd /*{d-bar-border}*/;
	color: #333333 /*{d-bar-color}*/;
	font-weight: bold;
}
.ui-bar-d {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-d,
.ui-page-theme-d,
.ui-page-theme-d .ui-panel-wrapper {
	background-color: #9fc1d0 /*{d-page-background-color}*/;
	border-color: #bbbbbb /*{d-page-border}*/;
	color: #333333 /*{d-page-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-d,
.ui-page-theme-d .ui-body-inherit,
html .ui-bar-d .ui-body-inherit,
html .ui-body-d .ui-body-inherit,
html body .ui-group-theme-d .ui-body-inherit,
html .ui-panel-page-container-d {
	background-color: #9fc1d0 /*{d-body-background-color}*/;
	border-color: #dddddd /*{d-body-border}*/;
	color: #333333 /*{d-body-color}*/;
}
.ui-body-d {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-d a,
html .ui-bar-d a,
html .ui-body-d a,
html body .ui-group-theme-d a {
	color: #3388cc /*{d-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-d a:visited,
html .ui-bar-d a:visited,
html .ui-body-d a:visited,
html body .ui-group-theme-d a:visited {
    color: #3388cc /*{d-link-visited}*/;
}
.ui-page-theme-d a:hover,
html .ui-bar-d a:hover,
html .ui-body-d a:hover,
html body .ui-group-theme-d a:hover {
	color: #005599 /*{d-link-hover}*/;
}
.ui-page-theme-d a:active,
html .ui-bar-d a:active,
html .ui-body-d a:active,
html body .ui-group-theme-d a:active {
	color: #005599 /*{d-link-active}*/;
}
/* Button up */
.ui-page-theme-d .ui-btn,
html .ui-bar-d .ui-btn,
html .ui-body-d .ui-btn,
html body .ui-group-theme-d .ui-btn,
html head + body .ui-btn.ui-btn-d,
/* Button visited */
.ui-page-theme-d .ui-btn:visited,
html .ui-bar-d .ui-btn:visited,
html .ui-body-d .ui-btn:visited,
html body .ui-group-theme-d .ui-btn:visited,
html head + body .ui-btn.ui-btn-d:visited {
	background-color: #9fc1d0 /*{d-bup-background-color}*/;
	border-color: #dddddd /*{d-bup-border}*/;
	color: #333333 /*{d-bup-color}*/;
}
/* Button hover */
.ui-page-theme-d .ui-btn:hover,
html .ui-bar-d .ui-btn:hover,
html .ui-body-d .ui-btn:hover,
html body .ui-group-theme-d .ui-btn:hover,
html head + body .ui-btn.ui-btn-d:hover {
	background-color: #ededed /*{d-bhover-background-color}*/;
	border-color: #dddddd /*{d-bhover-border}*/;
	color: #333333 /*{d-bhover-color}*/;
}
/* Button down */
.ui-page-theme-d .ui-btn:active,
html .ui-bar-d .ui-btn:active,
html .ui-body-d .ui-btn:active,
html body .ui-group-theme-d .ui-btn:active,
html head + body .ui-btn.ui-btn-d:active {
	background-color: #e8e8e8 /*{d-bdown-background-color}*/;
	border-color: #dddddd /*{d-bdown-border}*/;
	color: #333333 /*{d-bdown-color}*/;
}
/* Active button */
.ui-page-theme-d .ui-btn.ui-btn-active,
html .ui-bar-d .ui-btn.ui-btn-active,
html .ui-body-d .ui-btn.ui-btn-active,
html body .ui-group-theme-d .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-d.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-d .ui-checkbox-on:after,
html .ui-bar-d .ui-checkbox-on:after,
html .ui-body-d .ui-checkbox-on:after,
html body .ui-group-theme-d .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-d:after,
/* Active flipswitch background */
.ui-page-theme-d .ui-flipswitch-active,
html .ui-bar-d .ui-flipswitch-active,
html .ui-body-d .ui-flipswitch-active,
html body .ui-group-theme-d .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-d.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-d .ui-slider-track .ui-btn-active,
html .ui-bar-d .ui-slider-track .ui-btn-active,
html .ui-body-d .ui-slider-track .ui-btn-active,
html body .ui-group-theme-d .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-d .ui-btn-active {
	background-color: #3388cc /*{d-active-background-color}*/;
	border-color: #3388cc /*{d-active-border}*/;
	color: #ffffff /*{d-active-color}*/;
}
/* Active radio button icon */
.ui-page-theme-d .ui-radio-on:after,
html .ui-bar-d .ui-radio-on:after,
html .ui-body-d .ui-radio-on:after,
html body .ui-group-theme-d .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-d:after {
	border-color: #3388cc /*{d-active-background-color}*/;
}
/* Focus */
.ui-page-theme-d .ui-btn:focus,
html .ui-bar-d .ui-btn:focus,
html .ui-body-d .ui-btn:focus,
html body .ui-group-theme-d .ui-btn:focus,
html head + body .ui-btn.ui-btn-d:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-d .ui-focus,
html .ui-bar-d .ui-focus,
html .ui-body-d .ui-focus,
html body .ui-group-theme-d .ui-focus,
html head + body .ui-btn-d.ui-focus,
html head + body .ui-body-d.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{d-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{d-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{d-active-background-color}*/;
}


/* Structure */
/* Disabled
-----------------------------------------------------------------------------------------------------------*/
/* Class ui-disabled deprecated in 1.4. :disabled not supported by IE8 so we use [disabled] */
.ui-disabled,
.ui-state-disabled,
button[disabled],
.ui-select .ui-btn.ui-state-disabled {
	filter: Alpha(Opacity=30);
	opacity: .3;
	cursor: default !important;
	pointer-events: none;
}
/* Focus state outline
-----------------------------------------------------------------------------------------------------------*/
.ui-btn:focus,
.ui-btn.ui-focus {
	outline: 0;
}
/* Unset box-shadow in browsers that don't do it right */
.ui-noboxshadow .ui-shadow,
.ui-noboxshadow .ui-shadow-inset,
.ui-noboxshadow .ui-overlay-shadow,
.ui-noboxshadow .ui-shadow-icon.ui-btn:after,
.ui-noboxshadow .ui-shadow-icon .ui-btn:after,
.ui-noboxshadow .ui-focus,
.ui-noboxshadow .ui-btn:focus,
.ui-noboxshadow  input:focus,
.ui-noboxshadow .ui-panel {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.ui-noboxshadow .ui-btn:focus,
.ui-noboxshadow .ui-focus {
	outline-width: 1px;
	outline-style: auto;
}


#filterSelectContainer
{
    width: 50%;
    float: right;
}

#searchContainer
{
    width: 50%;
    float: left;
}


#searchContainer a
{
    display: block !important;
    background-color: #5682af;
    color: white;
    margin-top: 6px;
}
#filterSelectContainer a
{
    display: block !important;
    background-color: #5682af;
    color: white;
    margin-top: 6px;
    text-align: center;
}

#sortOrderSelectContainer a
{
    display: block !important;
    text-align: center;
    background-color: #5682af;
    color: white;
}

#dashboardButton { text-align: center !important; }

#languageSelectIndex-button,
#languageSelectCampaigns-button,
#languageSelectLeads-button,
#languageSelectFeedback-button
{
	display:block !important;
	text-align: center;
	background-color: #2C5486 !important;
	border-color: transparent !important;
	color: white !important;
	text-shadow: none !important;
	border: none;
}


.footerTopRow
{

}

.footerBottomRow
{
	margin: -6px;
}

#searchPopup
{
    background-color: #4773a6;
    padding: 6px;
}

.darkButton
{
	color: white !important;
	background-color: #2C5486 !important;
	text-shadow: none !important;
}

.lightButton
{
	color: white !important;
	text-shadow: none !important;
	text-decoration: none !important;
	background-color: #4A76AE !important;
	border-color: transparent !important;
}

.logoBackground
{
    background-color: #FFFFFF;
    left: 0;
    width: 100%;
    padding: 20px 0px 20px 0px;
    height: 64px;
}

.loadingBackground
{
    background-image: url('../../images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px;
}
.loginContainer
{
    position: absolute;
    top: 15%;
    left: 25%;
    margin-left: -8%;
    width: 60%;
}

.login {
	background-color: #CCC;
    width: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 0px !important;
}


.bigLine
{
    padding: 30px 0px 30px 20px !important;
}

input::-webkit-input-placeholder
{
	color: #929292;
}

.ui-filterable input::-webkit-input-placeholder
{
	color: #5b5b5b;
}

input:-ms-input-placeholder
{
  color: #929292;
}

.firstInput
{
	background-color: #e1e1e1 !important;
}
.secondInput
{
	background-color: #c4c4c4 !important;
}

.fullDarkButton
{
    padding: 10px 0 10px 0;
    margin: 0px;
    color: white !important;
    background-color: #2C5486 !important;
    text-shadow: none !important;
    border: none;
}

.fullLightButton
{
    padding: 10px 0 10px 0;
    margin: 0px;
    color: white !important;
    background-color: #85a0c4 !important;
    text-shadow: none !important;
    border: none;
}

.smallerInvisibleButton
{
    padding: 10px 0 10px 0;
    margin: 0px;
    background-color: transparent !important;
    border: none;
    color: white !important;
    text-shadow: none !important;
    font-size: 75%;
}

.ui-body-b {
	border: 0px solid transparent;
}

.ui-input-text, .ui-input-search
{
	margin: 0px;
}

.ui-field-contain, .ui-mobile fieldset.ui-field-contain
{
	padding: 0px;
	margin: 0px;
}

.ui-footer
{
	border-width:0px 0;
	border-style:solid;
    margin-bottom: -8px;
}

.languageSelectContainer
{
    width: 50%;
    float: left;
    margin-top: 1px;
}

.sortOrderSelectContainer
{
    width: 50%;
    float: right;
}


.ui-select
{
	margin-top: 5px; */
    padding-top: 5px;
}
.ui-header
{
    background-color: #2C5486 !important;
    color: white !important;
    text-shadow: none !important;
}

h1
{
	font-weight: normal;
}

.ui-content .ui-listview-inset, .ui-panel-inner>.ui-listview-inset
{
    margin: 0px -16px 0px -16px;
}

.ui-li-count
{
	position:absolute;
	font-size:12.5px;
	font-weight:normal;
	text-align:center;
	border-width:0px;
	border-style:solid;
	padding:0 .48em;
	line-height:1.6em;
	min-height:1.6em;
	min-width:.64em;
	right:.8em;
	top:50%;
	margin-top:-.88em;
	background-color: transparent;
}

.ui-listview .ui-btn-icon-right .ui-li-count
{
	background-color: transparent;
	color: #3c679e;
	text-shadow: none;
}

/* Loader */
.ui-icon-loading {
	background: url("../../images/loading.gif");
	background-size: 2.875em 2.875em;
}
.ui-loader .ui-icon-loading
{
    display: block !important;
    width: 2.75em !important;
    height: 2.75em !important;
    padding: .0625em !important;
    -webkit-border-radius: 2.25em !important;
    border-radius: 2.25em !important;
}

.ui-loading .ui-loader
{
    display: block;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
}

.ui-loader-verbose h1
{
    font-size: 1em !important;
    margin: 0 !important;
    text-align: center !important;
    color: white !important;
    text-shadow: none !important;
}
.ui-loader-verbose .ui-icon-loading
{
	opacity: 1;
}

.ui-icon-carat-r:after
{
	background: url("../../images/disclosure.png");
}

.ui-input-search input
{
	padding-left: 0px;
}

.ui-shadow-inset
{
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 0px 0px rgba(0,0,0,.2);
	box-shadow: inset 0 0px 0px rgba(0,0,0,.2);
	outline: none;
	text-shadow: none;
}

.ui-listview>li
{
	padding: 2px 4px 2px 4px;
}

.greyBackground
{
	/*background-color: #c4c4c4;*/
	background-color: transparent;
}

.gridBackground
{
	background-color: transparent;
}

.ui-input-search input
{
	/*background-color: #c4c4c4;*/
	text-align: center;
	margin: 0px 0px -10px 12px;
	color: white;
}

/*
.ui-input-search.ui-input-has-clear .ui-btn.ui-input-clear, .ui-input-text.ui-input-has-clear .ui-btn.ui-input-clear
{
	background-color: #c4c4c4;
}
*/

/*
.ui-listview>.ui-li-static.ui-last-child, .ui-listview>.ui-li-divider.ui-last-child, .ui-listview>li.ui-last-child>a.ui-btn
.ui-listview>.ui-li-static, .ui-listview>.ui-li-divider, .ui-listview>li>a.ui-btn
{
	line-height: 64px;
	min-height: 48px;
}
*/

.feedbackContainer
{
	text-shadow: none;
}

.feedbackContainer label
{
	font-weight: normal;
    font-size: 14px;
    padding-top: 20px;
}

.ui-controlgroup-controls .ui-radio
{
	border-radius: 3px;
}
.feedbackContainer .ui-radio label
{
	font-weight: normal;
    font-size: 14px;
    padding-top: 10px;
}

.feedbackContainer .ui-input-text
{
	border: none;
	/*padding: 0px 0px 0px 4px;*/
    background-color: white;
    border-radius: 3px;
    text-shadow: none;
}

.ui-header .ui-title, .ui-footer .ui-title
{
	margin: 0 20%;
}
.sixtyFourLineHeight a
{
	line-height: 64px;
}

a#campaignsSignOutButton,
a#leadsSignOutButton,
a#feedbackSignOutButton,
a#navToLeadsLink,
a#leadsBackButton,
a#leadsRefreshButton,
a#navToFeedbackLink,
a#leadsCaptureButton,
a#helpButton,
a#helpBackButton
{
	background-color: transparent;
}

.statusMessage
{
	color: white;
    text-align: center;
    font-size: 110%;
    font-weight: normal;
    padding-top: 24px;
}

.noTopMargin
{
	margin-top: 0px;
}
/* HEADER       2C5486 */
/* BACKGROUND   3c679e */
/* BACKGROUND   85a0c4 */
/* BUTTON DARK  2C5486 */
/* BUTTON LIGHT 4A76AE */
/* GRID LEFT    c4c4c4 */
/* GRID RIGHT   e1e1e1 */
/* GRID BACK    efefef */
/* FONT BLUE    3c679e */
/* FONT GREY    5b5b5b */

.captureButton
{
	position:absolute;
	right:40px;
	top:-1px;
	display:none;
}

@media screen and (min-width: 448px){

.feedbackContainer .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset
{
	margin-top: 20px;
}

.dialMask
{
	margin: 26px 0px 0px -110px;
}

}


/*
.white-top
{
    background-color: #FFFFFF;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #AAAAAA;
    display: block;
    position: absolute;
    left: 0;
    top: 20px;
    margin-bottom: 80px;
    width: 100%;
    height: 100px;
    -webkit-box-shadow: 0px 1px 0px 0px #E5E5E5;
    -moz-box-shadow: 0px 1px 0px 0px #E5E5E5;
    -ms-box-shadow: 0px 1px 0px 0px #E5E5E5;
    -o-box-shadow: 0px 1px 0px 0px #E5E5E5;
    box-shadow: 0px 1px 0px 0px #E5E5E5;
}

    .white-top
    {
        background-color: #FFFFFF;
        border-top: 1px solid #999999;
        border-bottom: 1px solid #AAAAAA;
        display: block;
        position: absolute;
        left: 0;
        top: 2px;
        width: 100%;
        height: 65px;
        -webkit-box-shadow: 0px 1px 0px 0px #E5E5E5;
        -moz-box-shadow: 0px 1px 0px 0px #E5E5E5;
        -ms-box-shadow: 0px 1px 0px 0px #E5E5E5;
        -o-box-shadow: 0px 1px 0px 0px #E5E5E5;
        box-shadow: 0px 1px 0px 0px #E5E5E5;
    }


.loginSpacer
{
    height: 100px;
}

*/