<font size="3" face="Times New Roman">
    This sample app demonstrates Good Dynamics' Bypass Idle lock functionality. <br />
<br />
    Use adb command to open new Activity that is allowed to bypass Idle Lock Screen,
    command:
<br />
<br />
</font>
<font size="2" face="monospace" color="#ff0000">
    adb shell am broadcast -n com.good.example.sdk.bypassunlock/.EventReceiver
</font>