
/* LOADER */

#pageLoadingLogo
{
   position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 1.0 )
                url('../images/mobile/LoginImage.png')
                50% 50%
                no-repeat;
}

#pageLoading
{
   position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .1 )
                url('../images/loading.gif')
                50% 25%
                no-repeat;
}

#pageLoadingProgress
{
    color: grey;
    z-index: 9999;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 50%;
}

.ui-alt-icon.ui-icon-search:after, .ui-alt-icon .ui-icon-search:after, .ui-input-search:after
{
    background-image: none;
    background-size: contain;
}
.clearfix:before,
.clearfix:after
{
    content: " ";
    display: table;
}

.clearfix:after
{
    clear: both;
}

/* GRID LAYOUT */

.ui-grid-a >:nth-child(n)
{
    width:136px;
}

.ui-grid-b >:nth-child(n)
{
    width:100%;
    /* min-width: 256px; */
}


#nextButton
{
    display: block;
}

/* TEXT AREA */

textarea[disabled],
textarea[readonly]
{
   background-color:LightGrey;
}

.type-login
{
    background-color: #AAA;
    background-image: url(images/pback.png);
}

.button-full
{
    width: 100% !important;
    margin:0;padding:0;border:0;
    float:left;
    min-height:1px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box
}

.dialInput
{
	background-image: url('../images/dial.png') !important;
    background-position: right center !important;
    background-repeat: no-repeat !important;
    padding: 0px 20px 0px 5px !important;
}

.searchBox
{
    background-color: #CCC;
    position: absolute;
    width: 270px;
    left: 50%;
    top: 280px;
    margin: -175px 0 0 -165px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.red
{
    color: #FF0000 !important;
}
span.comp
{
    color: #FF0000;
    font-weight: bold;
}

input[readonly="readonly"]
{
    background-color:LightGrey;
}

.ui-select .ui-btn-corner-all
{
    font-weight: normal;
    text-align: left;
    -webkit-border-radius:8.0px;
    border-radius: 8.0px;
    padding-left:3px;
}

.ui-field-contain .ui-checkbox
{
    /* display: inline-block; */
    width: 100%
}


textarea
{
    resize: none;
}

.expandedControl
{
    width: 100% !important;
    display: block !important;
    padding-bottom: 5px;
}

#campaignMessageLabel
{
    text-shadow: 0px 0px #000000;
}

.ui-listview-filter
{
    border-radius: 12px;
    margin-left: 1px;
    margin-right: 1px;
}

.blackLabel
{
    color: black;
    /* text-shadow: 1px 1px black; */
}

.ui-btn-icon-right
{
    text-align: left;
}


.dwb
{
    font-size:14px;
    margin:.5em;
    padding:.5em;
    display:block;
    position:relative;
    text-align:center;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    border:1px solid #ccc;
    background:#eee;
    font-weight:bold;
    color:#222;
    text-shadow:0 1px 0 #fff;
    background-image:-webkit-gradient(linear,left top,left bottom,from( #fff ),to( #f1f1f1 ));
    background-image:-webkit-linear-gradient( #fff,#f1f1f1 );
    background-image:-moz-linear-gradient( #fff,#f1f1f1 );
    background-image:-ms-linear-gradient( #fff,#f1f1f1 );
    background-image:-o-linear-gradient( #fff,#f1f1f1 );
    background-image:linear-gradient( #fff,#f1f1f1 );
    -webkit-border-radius:0.5em ;
    border-radius:0.5em ;
    -webkit-background-clip:padding;
    background-clip:padding-box;
    -moz-border-radius:0.5em;
}

/* CONFIRMATION BOX BUTTONS */

#button-0,
#button-1
{
    display: inline-block !important;
    padding: 5px 20px 5px 20px;
    margin: 5px 5px 5px 0px !important;
    font-size: 14px;
}

.noty_text,
.noty_message
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px !important;
    background-color: #2C5486;
    color: white;
    text-shadow: none;
}

.noty_buttons,
.noty_buttons button
{
    background-color: #4A76AE !important;
    color: white;
}

.checkBoxLabel
{
    /*width:100% !important;*/
    color:LightGray;
    font-size: 12px !important;
}

.resetHint
{
    background-image: url(../images/help.png);
    background-position: 95%;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}

.leadsListFooter
{
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
    max-height: 80px;
    overflow: hidden;
}

.footerHandle
{
    width: 100%;
    height: 24px;
    background-image: url('../images/up.png');
    background-position: center center;
    display: inline-block;
    background-repeat: no-repeat;
}

.campaignBanner
{
    width: 100%;
}

.campaignMessageContainer
{
    padding: 8px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    text-align: center;
}

.ui-content
{
    padding: 0 1em 1em 1em !important;
}

#reasonReason-button
{
    margin-top: 20px;
}

fieldset.ui-controlgroup.ui-controlgroup-vertical.ui-corner-all
{
    margin-top: 20px;
}

legend
{
    font-size: 14px;
}

.versionLabels
{
    padding-left: 20px !important;
}

.select2-container
{
    margin-top: 20px;
}

.captureButton
{
    position:absolute;
    right:40px;
    top:-1px;
    display:none;
}

a#forgotPasswordButton.smallerInvisibleButton.ui-link.ui-btn.ui-shadow.ui-corner-all
{
    padding-bottom: 0px;
}

.versionNumber
{
    width: 100%;
    text-align: center;
    text-shadow: none;
    font-size: 50%;
    padding-top: 10px;
    color: white;
}

.dialInputLocked
{
    /*background-color: #e1e1e1 !important;*/
    /*line-height: 64px !important;*/
    text-align: center !important;
    width: 100%;
    border: none;
    padding: 8px 0px 8px 0px;
    margin-top: 12px;
    border-radius: 4px;
}

.dialMask
{
    margin: -23px 0px 0px 5px;
    position: absolute;
    font-size: 80%;
}

.dialInfoContainer
{
    background-color: #dfdfdf;
    text-align: center;
    padding: 20px;
    border-radius: 8px
}

.dialInfoLabel
{
    font-size: 70%;
    color: darkgray;
}

#dialButtonsContainer
{
    width: 100%;
    height: 64px;
    position: fixed;
    bottom: 48px;
    left: 0px;
    text-align: center;
}

#connectButton
{
    background-image: url('../images/connect.png');
    width: 64px;
    height: 64px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    border: 2px solid darkgray;
    border-radius: 50%;
    margin-right: 36px;
}

#disconnectButton
{
    background-image: url('../images/disconnect.png');
    width: 64px;
    height: 64px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    border: 2px solid darkgray;
    border-radius: 50%;
    margin-left: 36px;
}

/*
.inputAnimation
{
  display: inline-block;
  position: relative;
  margin: 0 0px 0 0;
  width: 100%;
  text-shadow: none;
}

.inputAnimation input
{
}

.inputAnimation label
{
  position: absolute;
  top: 26px;
  left: 20px;
  font-size: 12px;
  color: #aaa;
  transition: .1s all linear;
  cursor: text;
  width: 100%;
  color: #888;
}

.inputAnimation.active label
{
  top: 4px;
  font-size: 12px;
  z-index: 10;
  width: 100%;
  color: #aaa;
}
*/

/* MOBILE */

/*
@media (min-width: 28em){

.ui-field-contain>label~[class*=ui-], .ui-field-contain .ui-controlgroup-controls
{
    width: 100%;
}
*/
@media screen and (max-width: 800px){

    .forLabel
    {
        font-size: 80% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media screen and (min-width: 448px){
    .urlButton
    {
        width: 100%;
        padding-left: 22% !important;
    }

    .detailCheckGroup
    {
        width: 78%;
        padding-left: 22% !important;
    }
}
